.home {
  color: red;
}

.leg{
  background-color: #d0d0d0;
  margin-top: 20px;
  padding: 5px;
  border-radius: 20px;
}

.selection{
  background-color: white;
  margin: 5px;
  border-radius: 20px;
}

.selection-container{
  margin: 0px auto;
}
